@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
ul {
  margin: 0 0 40px;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
ul li {
  margin: 0 0 40px;
  list-style: none;
}
ul li .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform .5s;
  transform: rotateY(90deg);
  transform-origin: left;
}
/* ul li .slide img{
  width: 100%;
  height: 100%;
} */
ul li input[type="radio"] {
  position: relative;
  z-index: 1;
  height: 20px;
  width: 20px;
}
ul li input[type="radio"]:checked ~ .slide {
  transition: transform .5s;
  transform: rotateY(0deg);
  transform-origin: right;
}
ul li .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(255, 255, 255, .5);
  padding: 40px;
}
ul li .content h2{
  margin: 0;
  padding: 0;
  font-size: 42px;
}
ul li .content p{
  font-size: 18px;
}
ul li .slide img{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
ul li input[type="radio"]:checked ~ .slide img {
  animation: animate 25s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}